svg {
  font: 10px sans-serif;
}
.tick{
  font: 8px sans-serif;
}
body, html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("/texture-noise.png");
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: "Helvetica Neue", Helvetica;

}
.caption {
  font-weight: bold;
}
header.title{
    position: absolute;
    left: 40px;
    top: 0;
    z-index: 1;
}
.legend_value{
    text-anchor: end;

}
#map{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
#stats{
    position: absolute;
    right: 0;
    min-width: 400px;
}
#stats .label{
    width: 110px;
    display: inline-block;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}
.water, .bg{
   fill: transparent;
}
path.gemeente {
    stroke: #fff;
    stroke-width: 0.25px;
}
path.gemeente:hover {

}

div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;

}
.hidden{
    display:none;
}
.donut{
     margin-bottom: 20px;
}
.donut h4{
    margin: 0;
    text-shadow: 1px 1px 1px #999;

}
.donut text{
      font-weight: bold;
text-shadow: 1px 1px 1px #999;
}